@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

// font-family: 'Big Shoulders Display', cursive;

// font-family: 'Lexend Deca', sans-serif;
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-weight: 700;
}

body {
    font-family: "Lexend Deca", sans-serif;
}
.card__header {
    font-family: "Big Shoulders Display", cursive;
}
