// primary colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//nuetral
$transparent-white: hsl(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);


// font size
$default-font-size: 1.5rem;

